.background_card_1 {
    background: url("../../../../../assets/img/category/category-img-2.png");
}

.background_card_2 {
    background: url("../../../../../assets/img/category/category-img-1.png");
}

.background_card_3 {
    background: url("../../../../../assets/img/category/img.png");
}

.background_card_4 {
    background: url("../../../../../assets/img/category/img_1.png");
}

.wrap {
    /*width: 200px;*/
    /*height: 100%;*/
    /*border: 2px solid red;*/
    background-size: cover;
    margin-inline: 10px;

}

.card {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 300px 40px 20px 30px;

    .card_name {
        font-family: Gilroy, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        cursor: pointer;
    }

    .text {
        display: none;
        overflow-y: scroll;
    }
    .card_linK {
        display: none;
    }
}

.showText {
    padding-top: 30px;
    height: 100%;
    background: #FCD54C;
    color: #272727;

    .card_name {
        display: flex;
        /*margin-top: 10px;*/
        margin-bottom: 70px;
    }

    .text {
        display: revert;
        margin-top: 20px;
        height: 160px;
    }
    .card_linK {
        display: flex;
    }

}

.card_linK {
    display: flex;
    font-weight: 800;
    margin-top: auto;
    align-items: center;
    gap: 10px;
}

