.swiper-wrapper {
    /*margin-left: 40px;*/
    /*position: revert;*/

}


.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    width: 25px;
    font-size: 25px;
    /*position: absolute;*/
    top: 0;
    background: black;

}

.swiper-button-prev {
    position: absolute;
    left: -20px;
    margin-left: 20px;

}

.swiper-button-next {
    right: 0;
}

:root {
    --swiper-navigation-size: 22px;
    --swiper-theme-color: #FCD54C;
}

.swiper-pagination {
    bottom: 330px;
    position: relative;
    /*top: 20px;*/
    margin-top: 20px;
    /*background: #fff;*/
}


.swiper-pagination-bullet {
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: #FCD54C;
}



