.block_projects {
    height: 610px;
}

.latest_project_title {
    display: flex;
    align-items: flex-end;
    height: 60px;
    color: white;
    margin-bottom: 50px;
}

.latest_project_title_name {
    display: flex;
    justify-content: center;
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    width: 700px;
}

.latest_project_title_categories {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    margin-left: 40px;
}

.latest_project_title_categories_reset {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 50px;
    margin-left: 60px;
    color: #929292;;
}