.wrapper {
    width: 900px;
    margin-inline: auto;
    margin-bottom: 100px;
}

.title {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #ffffff;
}