.title {
    color: #FFF;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 133.333% */

}

/*.slider {
    display: flex;
    margin-top: 60px;
    !*background: #b3d4fc;*!
    height: 350px;
    width: 1450px;
    margin-left: -45px;
    padding-left: 20px;
    gap: 14px;


}*/

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FCD54C;

}

.block_slider {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 400px;
    margin-bottom: 100px;
    /*position: revert;*/
    /*margin-left: -40px;*/
    /*width: 1450px;*/
    /*width: 100%;*/
    /*margin-left: -40px;*/
    /*margin-right: -40px;*/
    /*border: 1px solid red;*/


}

.block_slider_wrap {

    width: 1390px;
    align-items: center;
    justify-content: center;
}

.block_slider_button {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    color: #FCD54C;
    width: 30px;
    cursor: pointer;

}

