
.swiper-wrapper {
    margin-left: 40px;
    gap: 4px;
}


.swiper-button-prev,
.swiper-button-next {
    height: 100%;
    width: 45px;
    font-size: 25px;
    /*position: absolute;*/
    top: 0;
    background: black;

}

.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}

:root {
    --swiper-navigation-size: 22px;
    --swiper-theme-color: #FCD54C;
}

.swiper-pagination {
    bottom: 330px;
    position: relative;
    top: 20px;
    margin-top: 20px;
    /*background: #fff;*/
}

.swiper-pagination-bullet {
    background-color: #fff;
}
.swiper-pagination-bullet-active {
    background-color: #FCD54C;
}



