
.bestOffers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

}


.bestOffers_card {
    width: 320px;
    height: 600px;
    border: solid 1px #FCD54C;
    /*color: red;*/
    :hover {
        background: #FCD54C;
        color: black;
        .bestOffers_card_title_h3,
        .bestOffers_card_type,
        .bestOffers_card_link
        {
            color: black;
        }
        .svg * {
            stroke: black;
        }
    }
}

.bestOffers_text {
    color: #FFF;
    text-align: center;
    margin-bottom: 35px;
    font-family: Gilroy, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 133.333% */

}

.bestOffers_picture {
    background-size: cover;
    width: 320px;
    height: 365px;
}

.bestOffers_card_content {
    padding: 25px 70px 20px 25px;
    border: solid 1px #FCD54C;
}

.bestOffers_card_type {
    color: #FFF;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 12px;

}

.bestOffers_card_title_h3 {
    color: #FFF;
    font-family: Gilroy,sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 140% */
    margin-bottom: 12px;

}

.bestOffers_card_description {
    font-family: Work Sans, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 162.5% */
    margin-bottom: 20px;
   /* color: red;*/
}

.bestOffers_card_link {
    color: white;
   /* display: flex;
    align-items: center;
    gap: 15px;

    font-family: Work Sans, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; !* 150% *!
    text-decoration: none;*/
}

/*.test {
    height: 40px;
    background: red;

}*/

