body {

    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #929292;
    background: black;

}

body.lock {
    overflow: hidden;
}
.wrapper{
    padding:0 40px;
    margin: 0 auto;
}

header{
    display: flex;
}

.line{
    margin-left: 0;
    width:  100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.line:last-child{
    margin: 0;
}
.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}
#more {
    display: none;
}

.buttom {
    color: #FFFFFF;
   /* background-color: #b3d4fc;*/
   background: #FBC710;


}
/*.pagination_li {
    font-size: 12px;
    cursor: pointer;
    color: #FFFFFF;
    height: 20px;
    width: 20px;
    padding-left: 7px;
}*/

  /*   PAGINATION   */
.pagination_container {
    display: flex;
   /* justify-content: center;*/
    text-decoration: black;
    gap: 0px;
    color: #FFFFFF;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 140px;


}

.pagination_active a{
    background-color: #FCD54C;
}
.pagination_pade {
    width: 30px;
    height: 28px;
    display: flex;
    justify-content: center;
    justify-items: center;


}
.pagination_page_link {
    width: 30px;
    margin-top: 5px;
    text-align: center;
    
}
.pagination_page_previous {
    margin-top: 3px;
    color: black;

}
.pagination_page_next {
    margin-top: 3px;

}