.about_header {
    display: flex;
    position: relative;
    height: 700px;
    background: url(../../../../assets/img/slider1.png) no-repeat center;
    background-size: cover;
    color: #ffffff;
    /*
    !*наложение допщлнительного цвета на картинку*!
    background-blend-mode: overlay;
    background-color: rgba(39, 39, 39, 0.5);
    */
}

.about_header_logo_border {
    margin-top: 200px;
    margin-left: 280px;
    width: 100%;
    border-left: 3px solid #FCD54C;
    position: relative;
    padding: 20px 0 10px 20px;
    z-index: 4;
}

.about_header_logo_text {
    /*width: 700px;*/
}

.about_header_logo_text:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    border-top: 3px solid #FCD54C;
}

.about_header_logo_text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    border-bottom: 3px solid #FCD54C;
}

.about_header_logo_text_p {
    font-family: "Work Sans", sans-serif;
    font-weight: 30;
    font-size: 14px;
}

.about_header_logo_text_h3 {
    font-family: Space, sans-serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 60px;
    margin-top: 20px;
}

.about_header_logo_text_h3_span {
    color: #FCD54C;
}

.about_header_logo_link {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin-top: 26px;
    margin-bottom: 26px;
    cursor: pointer;
}

.about_header_space_top {
    display: flex;
    justify-content: flex-end;
}

.about_header_icons {
    position: absolute;
    width: 16px;
    left: auto;
    right: 20px;
    top: 40px;
}

.about_header_space_buttons {
    position: absolute;
    display: flex;
    top: auto;
    bottom: 0;
    right: 0;
    left: 260px;
    height: 150px;
}

.about_header_space_buttons_bloc {
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-left: 40px;
    width: 25%;
    height: 100%;
}

.about_header_space_buttons_toggle{
    display: flex;
    margin-left: 50px;
    gap: 15px;
    font-weight: 900;
    z-index: 3;
}

.btn_prev,
.btn_next {
    background: transparent;
    border: none;
    font-family: Gilroy, sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    &.disable {
        color: #929292;
    }
}

.about_header_space_buttons_bloc_num {
    font-family: Gilroy, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 3;
    &.active {                      /* в замен  .about_header_space_buttons_bloc_num.active {} */
        color: #FCD54C;
    }
}

.about_header_space_buttons_bloc_text {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.back {
    background: black;
}

